{% extends 'index.html' %}
{% load static %}

{% block content %}
<style>
    .main-container-cart {
        flex-direction: row;
        display: flex;
        width: 1263px;
    }

    /* Media query para pantallas pequeñas */
    @media screen and (max-width: 1280px) {
        .main-container-cart {
            width: 100%; /* En pantallas más pequeñas, ocupa todo el ancho */
        }
    }

    .right-section-cart {
        flex: 1;
    }

    .left-section-cart,
    .right-section-cart {
        padding: 37px 0px 37px 0px;
    }

    .right-section-cart {
        padding-right: 37px;
        padding-left: 19.5px;
        background-color: #dadada;
    }

    .left-section-cart {
        width:70%;
        padding-right: 19.5px;
        padding-left: 37px;
    }

    .left-section-text {
        font-size: 30px;
        font-weight: 100;
        color: #2f2f2f;
    }

    .left-section-cart-detail {
        margin-top: 30px;
        height: 190px;
        width: 94%;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
        display: flex;

    }

    .left-section-detail {
        padding: 15px;
        display: flex;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Geologica', sans-serif;

    }

    .price-content-cart,
    .text-content-cart {
        flex: 1;

    }

    .text-content-cart {
        padding-left: 10px;
    }

    .product-name {
        font-size: 20px;
    }

    .brand-name {
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 200;
        font-size: 15px;
    }

    .brand-sale {
        font-family:Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-size: 12px;
    }

    .image-content-cart {
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 150px;
    }

    .quantity-content-cart {
        display: flex;
        padding: 20px 10px 0px 10px;
    }

    .plus-count-product,
    .menos-count-product {
        background-color: #dadada;
        height: 27px;
        width: 27px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center; /* Centra horizontalmente el contenido */
    }

    .menos-count-product {
        margin-right: 19px;
    }

    .plus-count-product {
        margin-left: 19px;
    }

    .max-count-product {
        margin-left: 0px;
        text-align: center;
    }

    .text-content-cart a {
        color: #333333;

    }

</style>

<div class="main-container-cart">
    <div class="left-section-cart">
        <div class="left-section-text">
            <span> <strong>Cart</strong> ({{ products|length }} productos)</span>
        </div>
    {% for product in products %}
        <div class="left-section-cart-detail">
            <div class="left-section-detail">
                <div class="image-product-cart">
                    <a href="{% url 'product_detail' product.name_detail %}">
                        <section class="image-content-cart" >
                            {% if product.image_path %}
                                <img class="img_product" src="/media/{{ product.image_path }}" alt="{{ product.name }}">
                            {% else %}
                            <p>No hay imagen disponible</p>
                            {% endif %}
                        </section>
                    </a>
                </div>
                <div class="text-content-cart">
                    <a href="{% url 'product_detail' product.name_detail %}">
                        <span class="product-name">{{ product.name }}</span><br>
                        <span class="brand-name">LG</span><br>
                        <span class="brand-sale">Vendido por Falabella</span>
                    </a>
                </div>
                <div class="price-content-cart">
                    <div >
                        <ol >
                            <li  >
                                <div class="price_number">
                                    <span class="price_now">S/ {{ product.price }}
                                    </span>
                                    <div class="price_number">
                                        <span class="descount" style="background-color:#EB0029;color:#ffffff" >-24%
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="price_product">
                                    <span class="price_mark">S/ {{ product.price }}
                                    </span>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <div>
                    <ol>
                        <li>
                            <div class="quantity-content-cart">
                                <div class="menos-count-product"><button>-</button></div>
                                <div class="number-count-product" id="quantity" data-cartid="{{ product.id}}">{{ product.cart_items__quantity }}</div>
                                <div class="plus-count-product"><button>+</button></div>
                            </div>
                        </li>
                        <li>
                            <div class="max-count-product"><button>Máx 10 unidades</button></div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>

    <div class="right-section-cart">

    </div>


</div>

  
{% endblock content %}

