{% extends 'index.html' %}
{% load static %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/auth_style.css">
{% endblock %}

{% block content %}
  <h2>Join Us</h2>
  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="form-group">
      <input name="username" type="text" class="form-control" id="exampleInputUser" placeholder="User" required>
    </div>
    <div class="form-group">
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    <div class="form-group">
        <input name="passwordCheck" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
{% endblock %}