header,
nav,
div,
ol,
ul,
li,
section {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

li,
ol {
    list-style-type: none;
    padding-left: 0;
  }

.pre-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px; /* Ajusta el espaciado según tus preferencias */
    background-color: #ffffff; /* Agrega un color de fondo para visualizar mejor la sección pre-header */
}

.right-preheader,
.left-preheader {
    display: flex;
    align-items: center;
}

.right-preheader div {
    margin-right: 10px; /* Ajusta el margen entre las secciones según tus preferencias */
}

.right-preheader button {
    background-color: #111; /* Ajusta el color del botón según tus preferencias */
    color: #fff; /* Ajusta el color del texto del botón según tus preferencias */
    padding: 5px 10px; /* Ajusta el espaciado interno del botón según tus preferencias */
    border: none;
    cursor: pointer;
}

.right-preheader button:hover {
    background-color: #333; /* Ajusta el color del botón al pasar el ratón sobre él */
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header-center {
    flex-grow: 1;  /* Hace que este elemento ocupe el espacio restante */
}

.header-left,
.header-right,
.header-center {
    display: flex;
    align-items:center;  /* Centra verticalmente los elementos */

}

.header-left img {
    height: 50px;  /* Ajusta según sea necesario */
    width: auto;  /* Ajusta según sea necesario */
}

.header-right {
    /* Estilos para el área de la derecha */
    margin-right: 1.7em;
    height: 35px;
    width: auto;
}


.header-link {
    flex-grow: 1;
    text-align: center;  /* Agrega esta línea */
}

nav a {
    font-family: 'Geologica', sans-serif;
    color: #ff7dbe;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
    display: inline-block;  /* Añade esto para que los enlaces se muestren en una línea */
}

.header-right svg {
    fill: #ff66b2; /* o el color que desees */
    height: 38px;
    width: 38px;
  }




/* ------------------------------------------------ */

section {
    flex: 1;
}

.banner_home {
    text-align: center; /* Alinea horizontalmente el contenido dentro del contenedor */
    display: flex; /* Utiliza un contenedor de tipo flex para controlar la alineación vertical */
    align-items: center; /* Alinea verticalmente el contenido en el centro */
}

.banner_home img {
    max-width: 100%; /* Asegura que la imagen no sea más ancha que el contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
}


.content {
    display: flex;
    flex-wrap: wrap;
}


.main-container {
    display: flex;
    flex-direction: row; /* Cambiado a fila para que las secciones estén una al lado de la otra */
    width: 1263px;
}


.left-section {
    flex: 1;
    background-color: #ffffff;
    margin-top: 12px;
    max-width: 25%; /* Puedes ajustar este valor según tu preferencia */


}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 1280px) {
    .main-container {
        width: 100%; /* En pantallas más pequeñas, ocupa todo el ancho */
    }
}


.product {
    padding: 1em;
    width: 12.1em;
    margin-left: 11px;
    margin-top: 12px;
    background-color: #ffffff;
    border: #333 solid 0px;
}

.image_product {
    margin: 0px;

    max-width: 100%; /* La imagen no será más ancha que su contenedor */
    overflow: hidden; /* Evita que la imagen se desborde del contenedor */

}

.image_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
}

.img_product {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.text_product {
    padding: 1em 0em 1em 0em;
    height: auto;
}

.brand_product {
    padding: 0em 0em 0.5em 0em;
}

.sales_product{
    font-size: 13px;
    line-height: 12px;
    color: #767676;
    -webkit-letter-spacing: 0;
    -moz-letter-spacing: 0;
    -ms-letter-spacing: 0;
    letter-spacing: 0;
}

.sales_product{
    margin-top: 4px;
    text-transform: none;
    display: block;
}

.title_product {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #4A4A4A;
}

.brand_product {
    margin-top: 4px;
    text-transform: none;
    display: inline-block;
    font-size: 13px;
    color: #888;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.brand_product {
    font-family: inherit;
    font-size: 13px;
    line-height: 16px;
    color: #333;
    margin-top: 8px;
}

/* Color de precio */

.price_product{
    color: #767676;
}

.price_number {
    font-size: 19px;
}

.price_mark{
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
    font-size: 13px;
}
/*Precio */

/* Rojo descuento */
.descount {
    padding: 0px 6px;
    font-size: 11px;
    border-radius: 3px;
    margin-left: 5px !important;
    line-height: 1.2rem !important;
}

.price_number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    margin-top: auto;
}

