{% extends 'index.html' %}
{% load static %}

{% block content %}

<div class="banner_home">
    <picture >
        <source 
            srcset="https://images.falabella.com/v3/assets/bltf4ed0b9a176c126e/blt6025dba8ffb9d838/6585d1d9dc7662e5737e9b12/01-vitrina-dk-Verano-261223-RN.jpg?disable=upscale&amp;auto=webp&amp;quality=70&amp;width=1920"
            media="(min-width: 720px)"><img data-testid="one-clickable-container"
            alt="Verano"
            class="BackgroundImageOnly-module_background-image__x1SXx d-none d-md-flex">
    </picture>
</div>

{% endblock content %}

