{% extends 'index.html' %}
{% load static %}

{% block content %}

<style>
    .main-container-detail {
        background-color: #fff;
        flex-direction: row;
        display: flex;
        width: 1263px;
    }

    /* Media query para pantallas pequeñas */
    @media screen and (max-width: 1280px) {
    .main-container-detail {
        width: 100%; /* En pantallas más pequeñas, ocupa todo el ancho */
    }
    }

    .text_product-detail,
    .price_product-detail {
        display: flex;
    }

    .price_product-detail-right,
    .price_product-detail-left,
    .text_product-detail-left,
    .right-section-detail {
        flex: 1;
    }

    .left-section-detail,
    .right-section-detail {
        padding: 37px 0px 37px 0px;
    }

    .right-section-detail {
        padding-right: 37px;
        padding-left: 19.5px;
    }

    .left-section-detail {
        padding-right: 19.5px;
        padding-left: 37px;
        width: 30%;
        max-width: 300px;

    }

    .img_product_detail {
        max-width: 100%; /* La imagen no será más ancha que su contenedor */
        height: auto; /* Mantiene la proporción original de la imagen */
    }

    
    .brand_product-detail  {
        text-transform: none;
        display: block;
        font-weight: 600;
        font-size: 23px;
        color: #888;
    }

    .title_product-detail  {
        text-transform: none;
        display: block;
        font-weight: 700;
        font-size: 33px;
        color: #4A4A4A;
    }

    .descrp_product-detail {
        text-transform: none;
        display: block;
        font-weight: 200;
        font-size: 18px;
        color: #767676;
    }

    .code_product-detail {
        text-transform: none;
        display: block;
        font-weight: 100;
        font-size: 12px;
        color: #767676;
    }

    .price_product-detail{
        margin-top: 17.5px;
    }   

    .price_product-detail-left,
    .price_product-detail-right {
        color: #575555;

    }

    .price_descount-product-detail {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 4px;
    }

    .now_price-product-detail {
        font-size: 28px;
    }

    .descount-detail {
        padding: 0px 6px;
        font-size: 15px;
        border-radius: 3px;
        margin-left: 5px !important;
        line-height: 1.2rem !important;
    }

    .mark_price-product-detail {
        text-decoration: line-through;
        font-size: 17px;
    }

    .count-product {
    display: flex;
    padding: 17px 0px 17px 0px;
    }

    .plus-count-product,
    .menos-count-product {
        background-color: #dadada;
        height: 25px;
        width: 25px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center; /* Centra horizontalmente el contenido */
    }

    .menos-count-product {
        margin-right: 26px;
    }

    .plus-count-product {
        margin-left: 26px;
    }

    .max-count-product {
        margin-left: 28px;
    }

    .button-buy {
        background-color: #fa8ab9;
        border-radius: 45px;
        height: 55px;
        width: 80%;
        font-size: 23px;
        margin: 0px 0px 8px 0px;
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text_num {
        text-align: center;
        display: flex;
        align-items: center;
        transition-duration: 0.4s;
    }

    .button-buy:hover {
        background-color: #ed649d;
        color: white;
    }

    .button-buy-status {
        background-color: #fff1f6   ;
        border-radius: 8px;
        width: 80%;
        font-size: 14px;
        color: #3c3c3c;
        display: flex;
        align-items: center;
        font-weight: 100;
    }

    .text-buy-state {
        margin-left: 20px;
    }
</style>

{% for product in products %}
<div class="main-container-detail">
    <div class="left-section-detail">
        {% if product.image_path %}
            <img class="img_product_detail" src="/media/{{ product.image_path }}" alt="{{ product.name }}">
        {% else %}
        <p>No hay imagen disponible</p>
        {% endif %}
    </div>    

    <div class="right-section-detail">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <div class="text_product-detail">
            <div class="text_product-detail-left">
                <span class="brand_product-detail">Mamaya</span>
                <span class="title_product-detail">{{ product.name }}</span>
                <span class="descrp_product-detail">{{ product.description }}</span>
            </div>

            <div class="text_product-detail-right">
                <span class="code_product-detail">Código: 125990175 Cód. tienda: 43194432</span>
            </div>
        </div>

        <div class="price_product-detail">
            <div class="price_product-detail-left">
                {% if product.delivery %}
                <span>
                    Despacho a Domicilio
                </span> <br>
                {% endif %}

                {% if product.collect %}
                <span>
                    Recogo de producto
                </span>
                {% endif %}

            </div>

            <div class="price_product-detail-right">
                <div class="price_descount-product-detail">
                    <span class="now_price-product-detail">S/ {{ product.price }}</span>
                    <span class="descount-detail" style="background-color:#EB0029;color:#ffffff" >
                        -24%
                    </span>
                </div>
                <span class="mark_price-product-detail">S/ {{ product.price }}</span>
                <div class="count-product">
                    <div class="menos-count-product"><button>-</button></div>
                    <div class="number-count-product" id="quantity">{{ product.cart_items__quantity }}</div>
                    <div class="plus-count-product"><button>+</button></div>
                    <div class="max-count-product">Máximo 24 unidades</div>
                </div>
                <div >
                    <button class="button-buy" id="add-to-cart-btn">Add to Cart</button>
                    <div class="button-buy-status"><span  id="status-message" class="text-buy-state"></span></div>
                </div>
            </div>
        </div>
    </div>   
</div>

<script>
document.getElementById('add-to-cart-btn').addEventListener('click', function() {
    const productId = '{{ product.id }}';
    const quantity = parseInt(document.getElementById('quantity').textContent);
    const csrfToken = '{{ csrf_token }}';

    const statusMessage = document.getElementById('status-message');

    fetch(`/cart/add_to_cart/${productId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken,
        },
        body: JSON.stringify({ quantity: quantity }),
    })
    .then(response => response.json())
    .then(data => {
        // Actualiza el mensaje después de que la solicitud se completa con éxito
        statusMessage.innerText = 'Product added';
        statusMessage.style.marginTop = '10px'; // Ajusta según sea necesario
        statusMessage.style.marginBottom = '10px'; // Ajusta según sea necesario
        statusMessage.style.display = 'block'; // Muestra el elemento
        console.log(data);
    })
    .catch(error => {
        console.error('Error:', error);
        // Actualiza el mensaje de error
        statusMessage.innerText = 'Error adding product';
        statusMessage.style.marginTop = '10px'; // Ajusta según sea necesario
        statusMessage.style.marginBottom = '10px'; // Ajusta según sea necesario
        statusMessage.style.display = 'block'; // Muestra el elemento
    });
});


    document.addEventListener('DOMContentLoaded', function () {
        const quantityElement = document.getElementById('quantity');
        const maxQuantity = 24;
        const minQuantity = 1;

        document.querySelector('.menos-count-product').addEventListener('click', function () {
            let currentQuantity = parseInt(quantityElement.textContent);
            if (currentQuantity > minQuantity) {
                quantityElement.textContent = currentQuantity - 1;
            }
        });

        document.querySelector('.plus-count-product').addEventListener('click', function () {
            let currentQuantity = parseInt(quantityElement.textContent);
            if (currentQuantity < maxQuantity) {
                quantityElement.textContent = currentQuantity + 1;
            }
        });
    });
</script>



{% endfor %}
{% endblock content %}
