{% extends 'index.html' %}
{% load static %}

{% block additional_js %}
{% for product in products %}
    <script>const csrfToken = '{{ csrf_token }}';</script>
    <script>const productId = '{{ product.id }}';</script>
    <script>const user = '{{user.is_authenticated}}';</script>
    <script src="{% static 'js/detail_script.js' %}"></script>
{% endfor %}
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/detail_style.css">
{% endblock %}

{% block content %}
{% for product in products %}
<div class="main-container">
    <div class="left-section-detail">
        {% if product.image_path %}
            <img class="img_product_detail" src="/media/{{ product.image_path }}" alt="{{ product.name }}">
        {% else %}
        <p>No hay imagen disponible</p>
        {% endif %}
    </div>    

    <div class="right-section-detail">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <div class="text_product-detail">
            <div class="text_product-detail-left">
                <span class="brand_product-detail">Mamaya</span>
                <span class="title_product-detail">{{ product.name }}</span>
                <span class="descrp_product-detail">{{ product.description }}</span>
            </div>

            <div class="text_product-detail-right">
                <span class="code_product-detail">Código: 125990175 Cód. tienda: 43194432</span>
            </div>
        </div>

        <div class="price_product-detail">
            <div class="price_product-detail-left">
                {% if product.delivery %}
                <span>
                    Despacho a Domicilio
                </span> <br>
                {% endif %}

                {% if product.collect %}
                <span>
                    Recogo de producto
                </span>
                {% endif %}

            </div>

            <div class="price_product-detail-right">
                <div class="price_descount-product-detail">
                    <span class="now_price-product-detail">S/ {{ product.price }}</span>
                    <span class="descount-detail" style="background-color:#EB0029;color:#ffffff" >
                        -24%
                    </span>
                </div>
                <span class="mark_price-product-detail">S/ {{ product.price }}</span>
                <div class="count-product">
                    <div class="menos-count-product"><button>-</button></div>
                    {% if product.cart_items__quantity %}
                    <div class="number-count-product" id="quantity">{{ product.cart_items__quantity }}</div>
                    {% else %}
                    <div class="number-count-product" id="quantity">1</div>
                    {% endif %}
                    <div class="plus-count-product"><button>+</button></div>
                    <div class="max-count-product">Máximo 24 unidades</div>
                </div>
                <div>
                    <button class="button-buy" id="add-to-cart-btn">Add to Cart</button>
                    <div class="button-buy-status"><span  id="status-message" class="text-buy-state"></span></div>
                </div>
            </div>
        </div>
    </div>   
</div>
{% endfor %}
{% endblock content %}
