{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="main-container">
    <section class="left-section">
        <!-- Contenido de la parte izquierda -->
    </section>

    <section class="right-section">     
        <div class="content">
            {% for product in products %}
            <div  class="product">
                <a href="{% url 'product_detail' product.id %}" > 
                    <div class="image_product">
                        <section class="image_content" >
                            {% if product.productimage__image_path %}
                                <img class="img_product" src="{{ product.productimage__image_path }}" alt="{{ product.name }}">
                            {% else %}
                            <p>No hay imagen disponible</p>
                            {% endif %}
                        </section>
                    </div>
                    <div class="text_product">
                            <div>
                                <b class="brand_product">{{ product.productimage__image_path}}</b>
                            </div>
                            <span>
                                <b class="title_product">{{ product.name }}</b>
                            </span>
                            <span>
                                <b class="sales_product">Por Tottus</b>
                            </span>
                    </div>
                    <div class="price_product">
                        <div >
                            <ol >
                                <li  >
                                    <div class="price_number">
                                        <span class="price_now">S/ {{ product.price }}
                                        </span>
                                        <div class="price_number">
                                            <span class="descount" style="background-color:#EB0029;color:#ffffff" >-24%
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="price_product">
                                        <span class="price_mark">S/ {{ product.id }}
                                        </span>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div>
                            <span>
                                Despacho a Domicilio
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>   
        
    </section>
</div>

{% endblock content %}

